*.classpath
*.project
*.settings/
*target/
*.iml
*.class
*.log*
.DS_Store
/build
/.idea/
dependency-reduced-pom.xml
hs_err_pid*
*library/
*classifiers/
*data/
*nlpir/
/lib
*models/
*.cache
*.cache-tests
*.cache-tests
*SimpleDemo*.scala
*SimpleDemo*.java

